 *{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.MuiBadge-colorPrimary{
    color:  rgb(235, 0, 20) !important;
}


.logo1{
    display: flex;
   position: relative;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.2);
    cursor: pointer;
    
}
.listCon{
    display: flex;
    justify-content: center !important;
    justify-content: space-between !important;
}
.notifp{
    max-width: 10px !important;
}
.spacinItem { 
    display:'flex';
    justify-content: space-between;
}

.MuiTypography-body1{
    width: 20px;
}