

.table_wrapperCC{
    /* margin: 10px 70px 70px; */
    border-top-left-radius:  5px;
    border-top-right-radius: 5px ;
    background: #FFFF;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    overflow-X: auto;
}

.Tempty{
  font-weight: bolder;  
}
.searchRow{
    background-color: #ddd !important;
}

.fl_tableC {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
    table-layout: auto
}

.fl_tableC td, .fl_tableC th {
    text-align: center;
    padding: 8px;
}

.fl_tableC td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
    color: black;
}
.fl_tableC td a {
    color: black;
}

.icons {
    margin-top:4px ;
    border-bottom: none;
    align-items: center;
    display: flex;
    justify-content: center;
    gap:1.5rem;
}
.eye{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(64, 172, 196, 0.47);
    border-radius: 50%;
    width: 40px;
    height:40px;
    padding-top:3px ;
    cursor: pointer;
}

.pencil{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #FFFF;
    background: #7EC440;
    border-radius: 100%;
    width: 40px;
    height:40px;
    padding-top:3px ;
    cursor: pointer;
}

.trash{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #FFFF;
    background: #C8102E;
    border-radius: 100%;
    width: 40px;
    height:40px; cursor: pointer;
    padding-top:3px ;

}

.doc{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #FFFF;
    background: rgba(64, 172, 196, 0.47);
    border-radius: 100%;
    width: 40px;
    height:40px;
    padding-top:3px ;
    cursor: pointer;
}

.fl_tableC tr:nth-child(even) {
    background: #F8F8F8;
}
.trP{
    cursor: pointer;
}
/* Responsive */

@media (max-width: 548px) {
    
    .fl_tableC > thead > tr>th:nth-child(3) {
        display: none;
     }
     .fl_tableC > thead > tr>th:nth-child(4) {
        display: none;
     }
     .fl_tableC > tbody > tr > td:nth-child(3) {
       display: none;
     
    }
    .fl_tableC > tbody > tr > td:nth-child(4) {
        display: none;
     }
     .firstColumnC{
        display: none !important;
    }
    
}
