table {
  border-collapse: collapse;
  border-radius: 26px;
  overflow: hidden;
  table-layout: fixed ;
  width: 100% ;
}

table,
thead {
  border-bottom: 2px solid #eeeeee;
}


table td,
table th {
  padding: 10px;
  border-bottom: 2px solid #eeeeee;
  
  
}

.tdR{
 
  width: 10%;
  text-align: center;
}
table tr:hover {
  background-color: #ddd;
  border-top: 26px;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.card {
  border-radius: 26px;
}.pageNavigation{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  cursor: pointer;
  padding-bottom: 8px;
}

.forward{
  margin-right: 20px;
}
.backward{
  margin: 0 20px 0 20px;
}

